[functions]
  directory = "functions"

[build]
publish = "public"
command = "hugo --gc"

[build.environment]
  HUGO_VERSION = "0.91.2"
  GO_VERSION = "1.16.5"
  NODE_VERSION = "16.16.0"
  SECRETS_SCAN_ENABLED = false
[context.production.environment]
# Uncomment the next line when moving site to production
HUGO_ENV = "production"
#HUGO_ENABLEGITINFO = "true"


[context.deploy-preview]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"
[context.deploy-preview.environment]
HUGO_ENV = "staging"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"
[context.branch-deploy.environment]
HUGO_ENV = "staging"

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/"
    [headers.values]
    Access-Control-Allow-Origin = "*"

[dev]
  functions = "functions"
  publish = "public"
  framework = "#custom"
  command = "npm run start"
  port = 8888
  targetPort = 1313
