[build]
publish = "public"
command = "hugo --gc"

[build.environment]
  HUGO_VERSION = "0.55.6"

[context.production.environment]
# Uncomment the next line when moving site to production
HUGO_ENV = "production"
#HUGO_ENABLEGITINFO = "true"


[context.deploy-preview]
command = "hugo --gc --minify -b $DEPLOY_URL"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"