.m-form label {
    display: block;
}
.m-form input[type=text],
.m-form input[type=email],
.m-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    @include borderBox;
    border-radius: 4px;
}
.m-form select {
    width: 100%;
    @include borderBox;
}
.m-form .row {
    margin-bottom: 12px;
    width: 50%;
    @include smallPlus {
        width: 100%;
    }
}
.m-form input[type=submit] {
    background: $red;
    color: $white;
    border: none;
    border-radius: 6px;
    font-family: $roboto;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    @include transition;
}
.m-form input[type=submit]:hover {
    background-color: $gray;
    cursor: pointer;
}

/* Sidebar Form */
.m-form.-sidebar input[type=text],
.m-form.-sidebar input[type=email] {
    width: 75%;
    border-radius: 0;
    @include borderBox;
    height: 40px;
    line-height: 40px;
    float: left;
}
.m-form.-sidebar input[type=submit] {
    background: url('/layout-images/icon-button-arrow.png') no-repeat 50% 50% $red;
    background-size: 6px 14px;
    border: none;
    line-height: 20px;
    width: 20%;
    vertical-align: middle;
    @include borderBox;
    float: left;
    @include transition;
    border-radius: 0;
}