.m-ft-links {
    margin: 0 auto;
    @include medium {
        //width: 45%;
    }
    @include smallPlus {
        //margin: 0 auto;
    }
}
.m-ft-links a:link,
.m-ft-links a:visited {
    color: $white;
    text-decoration: none;
}
.m-ft-links{
    .m-social{
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        li{
            float:none;
            display: inline-block;

            a{
                padding-left: 0 !important;
                
                @media (min-width:$medium + 1){
                    padding-right: 20px !important;
                }
            }
        }
        .svg-inline--fa{
            font-size:1.3em;
        }
        @media (max-width:$smallPlus - 1){
            margin-bottom:20px;
            .svg-inline--fa{
                font-size:1.5em;
            }
        }
        @media (min-width:$smallPlus){
            text-align: left;
        }
    }
    
}
.m-ft-links .sections {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    @include medium {
        padding-top: 20px;
    }
}
.m-ft-links .sections li {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 50%;
    height: 34px;
    @include borderBox;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: auto 34px;
    text-transform: uppercase;
    font-family: $fjalla;
    //font-size: 17px;
    @include medium {
        width: 100%;
    }
    @include smallPlus {
        //font-size: 16px;
    }
}
.m-ft-links .sections li a {
    display: flex;
    align-items: center;
    padding: 0 0 0 50px;
    height: 100%;
    line-height: 0;
    white-space: nowrap;
}
/* Alignments */

/* Icons */
.m-ft-links .sections .equipment {
    background-image: url('/layout-images/icon-equipment.png');
    background-position: 5px 50%;
}
.m-ft-links .sections .tour {
    background-image: url('/layout-images/icon-tour.png');
}
.m-ft-links .sections .traveler {
    background-image: url('/layout-images/icon-traveler.png');
}
.m-ft-links .sections .newsletter {
    background-image: url('/layout-images/icon-newsletter.png');
}
.m-ft-links .sections .meetings {
    background-image: url('/layout-images/icon-meetings.png');
}
.m-ft-links .sections .open-meetings {
    background-image: url('/layout-images/icon-open-meetings.png');
    width: 34px;
    height: 27px;
    background-size: contain;
}
.m-ft-links .sections .press {
    background-image: url('/layout-images/icon-press.png');
}
.m-ft-links .sections .guide {
    background-image: url('/layout-images/icon-guide.png');
}
/* Brochure */
.m-ft-links .sections .brochure {
    position: absolute;
    right: 0;
    top: 110px;
    background: url('/layout-images/img-visitor-guide.png') no-repeat 0 0;
    background-size: 75px 112px;
    @include medium {
        display: none;
    }
}
.m-ft-links .sections .brochure a {
    line-height: 1.3em;
    height: 112px;
    padding-left: 90px;
    padding-top: 25px;
}
/* Social Links */
.m-ft-links .social {
    padding-top: 20px;
    @media (max-width:$medium - 1){
        display: none;
    }
}
.m-ft-links .social.-mobile-social {
    display: none;
    @media (max-width:$medium - 1){
        display: block;
    }
}
.m-ft-links .social a {
    font-size: 24px;
}
