/* Generic Wrapper For Content */
@mixin g-wrap {
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    @include medium {
        padding: 0 10px;
    }
}
.g-wrap {
    max-width: 1140px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    @include mediumPlus {
        padding: 0 10px;
    }
}
.g-wrap--lg{
    @include g-wrap;
    max-width: 1140px;
}
/* Swoosh Bullet */
.g-swoosh-bullet {
    display: inline-block;
    width: 13px;
    height: 6px;
    vertical-align: middle;
    background: url('/layout-images/icon-bullet.png') no-repeat 0 0;
    background-size: 13px 6px;
}

/* Read More */
.g-read-more {
    font-weight: bold;
}

/* Capitalize */
.g-capitalize {
    text-transform: capitalize;
}

a.phone-body {
    text-decoration: none;
    color: $darkGray;
    &:hover {
        cursor: unset;
    }
    @include small {
        text-decoration: underline;
        color: $red;
        &:hover {
            color: $darkGray;
            cursor: pointer;
        }
    }

}