.back_top{
  position: sticky;
  bottom: 0;
  text-align: right;
  
}
.back_top__button{
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 1rem;
  background: $red;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
  padding: .6rem 1rem;
  color: white !important;
  text-align: center;
  text-decoration: none;
  svg{
    width: 1rem;
    display: inline-block;
    fill: currentColor;
    margin-right: .5rem;
  }
}