
{{/* WARN  "open-meetings"
WARN  "press-media-industry"
WARN  "contact"
WARN  "headless"
WARN  "our-area"
WARN  "diningpage"
WARN  "meeting-planners-sub"
WARN  "nosidebar"
WARN  "travelersinfo"
WARN  "meeting-planners"
WARN  "adventure-sidebar"
WARN  "thank-you" */}}
{{ $entries := slice }}
{{ $input := where site.AllPages ".Type" "sitepages" }}
{{ $input = where $input ".Layout" "in" (slice
  "open-meetings"
  "press-media-industry"
  "contact"
  "headless"
  "our-area"
  "diningpage"
  "meeting-planners-sub"
  "nosidebar"
  "travelersinfo"
  "meeting-planners"
  "adventure-sidebar"
  "thank-you"
) }}
{{ with site.GetPage "/gallery" }}
  {{ $input = $input | append . }}
{{ end }}
{{ with site.GetPage "/sitepages/_index.md" }}
  {{ $input = $input | append . }}
{{ end }}
{{ with $input }}
  {{ $entries = $entries | append (apply . "partial" "transformers/documents/page" ".") }}
{{ end }}

{{ return $entries }}