{{ $size := .size | default "medium" }}
{{ with $page := .Page }}
<div class="item-wrap -{{ $size }} clearfix">
  <div class="util-bar clearfix">
      <p class="date">{{ partial "func/FormatStartEndDate" . }}</p>

      <div class="share" x-data="{showShare: false}">
          <span class="share-bar-label" @click="showShare = !showShare">
            <span class="hide-mobile hide-on-small">Share</span>
            <span class="icon"><i class="fas fa-share-square"></i></span>
          </span>
          <div x-show="showShare">
            {{ partial "share" (dict "title" .Title "url" .Permalink) }}
          </div>
      </div>
  </div>
  <a href="{{ .RelPermalink }}">
      <div class="item"
      {{ with index .Params (printf "%sboxphoto" $size) }}
        style="background-image: url({{ . }})"
      {{ end }}
        
      >
          <div class="description">
              <h3>{{ .Params.hovertitle }}</h3>
              <p>{{ .Params.hoverdescription }}</p>
              <span class="more">Learn More</span>
          </div>
          <div class="label">{{ .Params.desktoptitle }}</div>
          <div class="mobile-label">{{ .Params.mobiletitle }}</div>
          <div class="overlay"></div>
      </div>
  </a>
</div>
{{ end }}