{{ if eq . "1"}}
<li class="restaurant"></li>
{{ end }}
{{ if eq . "2"}}
<li class="fitness"></li>
{{ end }}
{{ if eq . "3"}}
<li class="pet"></li>
{{ end }}
{{ if eq . "4"}}
<li class="kitchens"></li>
{{ end }}
{{ if eq . "5"}}
<li class="handicap"></li>
{{ end }}
{{ if eq . "6"}}
<li class="breakfast"></li>
{{ end }}
{{ if eq . "7"}}
<li class="pool"></li>
{{ end }}
{{ if eq . "8"}}
<li class="wifi"></li>
{{ end }}
{{ if eq . "9"}}
<li class="meeting"></li>
{{ end }}
{{ if eq . "10"}}
<li class="chamber"></li>
{{ end }}