{{ if eq (substr . 0 1) "1"}}
<li class="restaurant"></li>
{{ end }}
{{ if eq (substr . 0 1) "2"}}
<li class="breakfast"></li>
{{ end }}
{{ if eq (substr . 0 1) "3"}}
<li class="fitness"></li>
{{ end }}
{{ if eq (substr . 0 1) "4"}}
<li class="pool"></li>
{{ end }}
{{ if eq (substr . 0 1) "5"}}
<li class="pet"></li>
{{ end }}
{{ if eq (substr . 0 1) "6"}}
<li class="wifi"></li>
{{ end }}
{{ if eq (substr . 0 1) "7"}}
<li class="kitchens"></li>
{{ end }}
{{ if eq (substr . 0 1) "8"}}
<li class="meeting"></li>
{{ end }}
{{ if eq (substr . 0 1) "9"}}
<li class="handicap"></li>
{{ end }}
{{ if eq (substr . 0 1) "10"}}
<li class="chamber"></li>
{{ end }}