<!doctype html>
{{ $lang := "en" }}
{{ with .Params.lang }}
  {{ $lang = . }}
{{ end }}
<html lang="{{ $lang }}">
  <head>
  {{ partial "head" . }}
  {{ block "head-additions" . }}{{ end }}
  </head>
  <body x-data="{ displayFilters: false }" :class="displayFilters ? 'overflow-hidden' : ''">
    {{ partial "hd" . }}
    <div id="top"></div>
    <div id="bd">
      {{ block "main" . }}{{ end }}
      {{ partial "top" . }}
    </div>

    {{ partial "footer" . }}
    {{ block "footerJs" . }}{{ end }}
 	  {{ partial "googletag" (dict "where" "bottom") }}
  </body>
</html>