
{{ define "main" }}

    {{ partial "featurePhoto" (dict "photo" .Params.photo) }}

    <div class="g-wrap clearfix">
        <div class="m-standard-content -full">
            <h1>{{ .Title }}</h1>
            <div class="inner user-content">
                {{ .Content }}
            </div>
            {{ with .Params.gallery }}
                <div id="lightgallery" class="m-content-columns" data-columns="3">
                    {{ range . }}
                        <a href="{{ .image }}" 
                            class="m-content-columns__col gallery__item" 
                            style="background-image: url({{ .image | safeCSS }});"
                            data-sub-html=".gallery__item__caption"
                        >
                        {{ with .title }}
                            <div class="gallery__item__caption">
                                {{ . }}
                            </div>
                        {{ end }}
                        </a>
                        
                    {{ end }}
                </div>
            {{ end }}
    
        </div>
    </div>


{{ end }}

{{ define "footerJs" }}
<script src="/vendors/lg/js/lightgallery.min.js"></script>
<script>
    lightGallery(document.getElementById('lightgallery'), {
        subHtmlSelectorRelative: true
    });
</script>
{{ end }}