{{ define "main" }}
<!-- flickity script -->
{{ $style := resources.Get "js/flickity.pkgd.js" | resources.Minify }}
<script src="{{ $style.Permalink }}"></script>

<!-- flickity styles -->
{{ $style := resources.Get "css/flickity.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- carousel style -->
{{ $style := resources.Get "css/carousel.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- flickity fade styles -->
{{ $style := resources.Get "css/flickity-fade.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- flickity fade script -->
{{ $style := resources.Get "js/flickity-fade.js" | resources.Minify }}
<script src="{{ $style.Permalink }}"></script>

<div class="carousel-shell">
    <div class="m-homeslideshow main-carousel">
        {{/* We store the current slideshow item in $slide for further reference in deeper context */}}
        {{ range $slide := .Params.slideshow }}
            {{ $video := false }}
            {{ $source := false }}
            {{ with .video }}
                {{ $video = . }}
                {{ with .source }}
                    {{ $source = . }}
                {{ end }}
            {{ end }}
            <div class="slide carousel-cell{{ with $video }} video-cell{{ end }}">
                {{ with .url }}<a class="cell-link" href="{{ . }}"></a>{{ end }}
                {{/* Context is now a string (source) */}}
                {{ with $source }}
                    {{ $cover := false }}
                    {{ with $slide.photo }}
                        {{ $cover = . }}
                    {{ end }}
                    {{ with $video.cover }}
                        {{ $cover = . }}
                    {{ end }}
                    <video
                        class="carousel-video"
                        width="100%"
                        autoplay="true"
                        muted
                        loop
                        {{ with $cover }}
                            poster="{{ . }}"
                        {{ end }}
                    >
                        <source src="{{ . | relURL }}" type="video/mp4">

                        <!--[if gt IE 6]>
                            <object width="100%" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"><!
                        [endif]-->
                        <!-- non-IE QuickTime embed (hidden from IE): the self-closing comment tag allows non-IE browsers to
                        see the HTML whilst being compatible with serving as XML -->
                        <!--[if !IE]><!-->
                        <object width="100%" type="video/quicktime" data="{{ . | relURL }}">
                        <!--<![endif]-->
                        <param name="src" value="{{ . | relURL }}">
                        <param name="showlogo" value="false">
                        <param name="autoplay" value="true">
                        <!-- fallback to Flash -->
                        <object width="100%" type="application/x-shockwave-flash" data="player.swf?autostart=true&amp;image={{ $cover }}&amp;file={{ . | relURL }}">
                            <!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
                            <param name="movie" value="player.swf?image={{ $cover }}&amp;file={{ . | relURL }}">
                            <!-- fallback image -->
                            {{ with $cover }}
                                <img src="{{ . }}" width="100%" alt="placeholder" title="No video playback capabilities, please download the video below">
                            {{ end }}
                        </object><!--[if gt IE 6]><!-->
                        </object><!--<![endif]-->
                    </video>
                {{ else }}
                    {{ with .photo }}
                        <img src="{{ . }}" alt="{{ $slide.title }}" />
                    {{ end }}
                {{ end }}
                <div class="title">{{ .title }}</div>
            </div>
        {{ end }}
    </div>
    <div class="overlay">
        <img src="/layout-images/img-swoosh-overlay.png" alt="">
    </div>
</div>

<!-- carousel script -->
{{ $style := resources.Get "js/carousel.js" | resources.Minify }}
<script src="{{ $style.Permalink }}"></script>

<div class="m-homeslideshow-mobile">
{{ range first 1 .Params.slideshow }}
    {{ $photo := .photo }}
    {{ with .photo_mobile }}
        {{ $photo = . }}
    {{ end }}
    {{ $tag_open := `<div class="slide">` }}
    {{ $tag_close := `</div>` }}
    {{ with .url }}
        {{ $tag_open = printf `<a class="slide" href="%s">` . }}
        {{ $tag_close = `</a>` }}
    {{ end }}
    {{ $tag_open | safeHTML }}
        <img src="{{ $photo }}" alt="{{ .title }}">
        {{ with .title_mobile }}
            <div class="title">
                <div>{{ . }}</div>
            </div>
        {{ end }}
    {{ $tag_close | safeHTML }}

{{ end }}
<div class="overlay">
    <img src="/layout-images/img-swoosh-overlay.png" alt="">
</div>
</div>

<div class="m-visitor-guide-download">
    <a href="/img/Oregon-Coast-Visitor-Guide.pdf">Download Our<br>Visitor Guide</a>
</div>

<div class="m-homewelcome clearfix">
    <h1>{{ .Params.welcomeheadline }}</h1>
    <div class="welcometext">
        {{ .Content }}
    </div>
</div>
{{ with .Params.home_splashes }}
    {{ range $splash := . }}
        {{ with .url }}
            {{ $ext := partialCached "tnd-func/IsExternalURL" . . }}
            <div class="m-home-splash">
                <a href="{{ . }}" {{ if $ext }} target="_blank"{{ end }}>
                    {{ $alt_image := "" }}
                    {{ with $splash.alt  }}
                        {{ $alt_image = . }}
                    {{ end }}
                    <img src="{{ $splash.img }}" alt="{{ $alt_image }}" />
                </a>
            </div>
        {{ end }}
    {{ end }}
{{ end }}

<div class="m-home-grid clearfix">
    <div class="home-grid-left">
        <div class="newsletter">
            <h2>Sign Up for E-Newsletter</h2>
            <p>Find out about the latest deals &amp; events.</p>


            <form action="https://oregonsadventurecoast.us17.list-manage.com/subscribe/post?u=23d20aa9dd6b1cc84d8ba12c6&amp;id=2e9c9509c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <input type="email" value="" name="EMAIL" class="text" id="mce-EMAIL" placeholder="Enter Email Address">
                <input type="submit" value="&nbsp;" name="subscribe" id="mc-embedded-subscribe" class="btn">

                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_23d20aa9dd6b1cc84d8ba12c6_2e9c9509c9" tabindex="-1" value=""></div>
            </form>

        </div>

        <a href="{{ .Params.masonry1.url }}">
            <div class="item -tiny" style="background-image: url({{ .Params.masonry1.desktopphoto }});">
                <div class="description">
                    <h3>{{ .Params.masonry1.hovertitle }}</h3>
                    <p>{{ .Params.masonry1.hoverdescription }}</p>
                    <span class="more">Learn More</span>
                </div>
                <div class="expand">+</div>
                <div class="label">{{ .Params.masonry1.desktoptitle }}</div>
                <div class="overlay"></div>
            </div>
            <div class="item-mobile" style="background-image: url({{ .Params.masonry1.mobilephoto }});">
                <div class="label">{{ .Params.masonry1.mobiletitle }}</div>
                <div class="overlay"></div>
            </div>
        </a>

        <a href="{{ .Params.masonry2.url }}">
            <div class="item -large" style="background-image: url({{ .Params.masonry2.desktopphoto }});">
                <div class="description">
                        <h3>{{ .Params.masonry2.hovertitle }}</h3>
                        <p>{{ .Params.masonry2.hoverdescription }}</p>
                        <span class="more">Learn More</span>
                </div>
                <div class="expand">+</div>
                <div class="label">{{ .Params.masonry2.desktoptitle }}</div>
                <div class="overlay"></div>
            </div>
            <div class="item-mobile" style="background-image: url({{ .Params.masonry2.mobilephoto }});">
                <div class="label">{{ .Params.masonry2.mobiletitle }}</div>
                <div class="overlay"></div>
            </div>
        </a>

        <a href="{{ .Params.masonry3.url }}">
            <div class="item -small" style="background-image: url({{ .Params.masonry3.desktopphoto }});">
                <div class="description">
                    <h3>{{ .Params.masonry3.hovertitle }}</h3>
                    <p>{{ .Params.masonry3.hoverdescription }}</p>
                    <span class="more">Learn More</span>
                </div>
                <div class="expand">+</div>
                <div class="label">{{ .Params.masonry3.desktoptitle }}</div>
                <div class="overlay"></div>
            </div>
            <div class="item-mobile" style="background-image: url({{ .Params.masonry3.mobilephoto }});">
                <div class="label">{{ .Params.masonry3.mobiletitle }}</div>
                <div class="overlay"></div>
            </div>
        </a>

        <a href="{{ .Params.masonry4.url }}">
            <div class="item -smallWide" style="background-image: url({{ .Params.masonry4.desktopphoto }});">
                <div class="description">
                    <h3>{{ .Params.masonry4.hovertitle }}</h3>
                    <p>{{ .Params.masonry4.hoverdescription }}</p>
                    <span class="more">Learn More</span>
                </div>
                <div class="expand">+</div>
                <div class="label">{{ .Params.masonry4.desktoptitle }}</div>
                <div class="overlay"></div>
            </div>
            <div class="item-mobile" style="background-image: url({{ .Params.masonry4.mobilephoto }});">
                <div class="label">{{ .Params.masonry4.mobiletitle }}</div>
                <div class="overlay"></div>
            </div>
        </a>
    </div>

    <div class="home-grid-right">
        <a href="{{ .Params.masonry5.url }}">
            <div class="item -medium" style="background-image: url({{ .Params.masonry5.desktopphoto }});">
                <div class="description">
                    <h3>{{ .Params.masonry5.hovertitle }}</h3>
                    <p>{{ .Params.masonry5.hoverdescription }}</p>
                    <span class="more">Learn More</span>
                </div>
                <div class="expand">+</div>
                <div class="label">{{ .Params.masonry5.desktoptitle }}</div>
                <div class="overlay"></div>
            </div>
            <div class="item-mobile" style="background-image: url({{ .Params.masonry5.mobilephoto }});">
                <div class="label">{{ .Params.masonry5.mobiletitle }}</div>
                <div class="overlay"></div>
            </div>
        </a>

        <a href="{{ .Params.masonry6.url }}">
            <div class="item -medium" style="background-image: url({{ .Params.masonry6.desktopphoto }});">
                <div class="description">
                    <h3>{{ .Params.masonry6.hovertitle }}</h3>
                    <p>{{ .Params.masonry6.hoverdescription }}</p>
                    <span class="more">Learn More</span>
                </div>
                <div class="expand">+</div>
                <div class="label">{{ .Params.masonry6.desktoptitle }}</div>
                <div class="overlay"></div>
            </div>
            <div class="item-mobile" style="background-image: url({{ .Params.masonry6.mobilephoto }});">
                <div class="label">{{ .Params.masonry6.mobiletitle }}</div>
                <div class="overlay"></div>
            </div>
        </a>

        <a href="{{ .Params.masonry7.url }}">
            <div class="item -medium" style="background-image: url({{ .Params.masonry7.desktopphoto }});">
                <div class="description">
                    <h3>{{ .Params.masonry7.hovertitle }}</h3>
                    <p>{{ .Params.masonry7.hoverdescription }}</p>
                    <span class="more">Learn More</span>
                </div>
                <div class="expand">+</div>
                <div class="label">{{ .Params.masonry7.desktoptitle }}</div>
                <div class="overlay"></div>
            </div>
            <div class="item-mobile" style="background-image: url({{ .Params.masonry7.mobilephoto }});">
                <div class="label">{{ .Params.masonry7.mobiletitle }}</div>
                <div class="overlay"></div>
            </div>
        </a>
    </div>

    <a href="/contact">
    <div class="mobile-visitor-guide">
        <h3>Official Visitor Guide</h3>
        <p>Download or Order Today</p>
    </div>
    </a>
</div>
{{ if not (eq .Params.lang "es") }}
    <div class="m-home-titlebar">
        <h2>The Adventure Starts Here</h2>
        <i class="titlebar-arrow"></i>
    </div>

    <div class="m-home-blog clearfix">
        {{ range first 3 (where site.RegularPages "Section" "blog") }}
            <div class="post">
                <div class="photo">
                    <a href="{{ .Permalink }}"><img src="{{ .Params.image }}" alt="{{ .Title }}"></a>
                </div>
                <div class="content">
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p>{{ .Description | safeHTML }}</p>
                    <a href="{{ .Permalink }}" class="more-btn">Learn More &raquo;</a>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}


{{ end }}