{{ define "main" }}

{{ partial "featurePhoto" (dict "photo" .Params.photo) }}

<div class="g-wrap--lg clearfix m-lodging">
  <div class="lodging-intro clearfix">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>
  <div class="amenity-list amenity-list--grid">
    {{ range partialCached "func/GetLodgingAmenities" "GetLodgingAmenities" }}
      <div class="amenity-list__item">
        <span class="icon-lodging {{ .id }}"></span> {{ .label }}
      </div>
    {{ end }}
  </div>
  {{ $refinements := slice
    (dict  
      "id" "menu-city"
      "label" "Towns"
    )
    (dict  
      "id" "menu-category"
      "label" "Categories"
    )
    (dict  
      "id" "menu-amenities"
      "label" "Amenities"
    )
  }}
  {{ partial "instantsearch-landing" (dict
    "refinements" $refinements
  ) }}
</div>

{{ end }}