{{ define "main" }}

{{ partial "featurePhoto" (dict "photo" .Params.photo) }}

<div class="g-wrap clearfix">
    <div class="m-standard-nav -no-sidebar-mobile">
        <img class="sidebar-photo" src="/layout-images/img-search-sidebar.jpg" alt="">
    </div>

    <div class="m-standard-content m-search-results -no-sidebar-mobile">
        <div id="search-results-count"></div>
        <h1 id="resultsTitle">{{ .Title }}</h1>
        <div id="search-results-output"></div>
    </div>
</div>

{{ end }}

{{ define "head-additions" }}
{{ partialCached "huge/scripts/tags" (slice "search") "search" }}
{{ end }}