{{ define "main" }}

{{ partial "featurePhoto" (dict "photo" .Params.photo) }}

<div class="g-wrap clearfix m-lodging">
    <div class="lodging-intro">
        <h1>{{ .Title }}</h1>

        <div class="introtext">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="g-wrap clearfix">
    <div class="equipment">
        <div id="equipment-output" class="m-grid">
            {{ range partialCached "func/GetTours" "GetTours" }}
                {{ .Render "card" }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}
