{{ define "main" }}

{{ partial "featurePhoto" (dict "photo" .Params.photo) }}

<div class="g-wrap--lg clearfix m-lodging">
  <div class="lodging-intro clearfix">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>
  <div class="amenity-list amenity-list--grid">
    {{ range partialCached "func/GetLodgingAmenities" "GetLodgingAmenities" }}
      <div class="amenity-list__item">
        <span class="icon-lodging {{ .id }}"></span> {{ .label }}
      </div>
    {{ end }}
  </div>
  <div x-data="alpineData()" class="landing-layout">
    <div class="landing-layout__sidebar">
      <div class="sticky">
        <div id="clear"></div>
      <h3 class="refinement-title">Views</h3>
      <ul class="layout-togglers reset-list">
        {{ range slice
          (dict 
            "id" "grid"
            "label" "Grid View"
            "icon" "fas fa-th-large"
          )
          (dict 
            "id" "list"
            "label" "List View"
            "icon" "fas fa-bars"
          )
          (dict 
            "id" "map"
            "label" "Map View"
            "icon" "fas fa-map-marker-alt"
          )
        }}
          <li id="view-toggle-{{ .id }}" @click="toggle('{{ .id }}')" class="layout-toggler" :class="active == '{{ .id }}' ? 'active' : ''">
            <i class="{{ .icon }}"></i> {{ .label }} <span x-show="active == '{{ .id }}'"><</span>
          </li>
        {{ end }}
      </ul>
      <h3 class="refinement-title">Towns</h3>
      <div id="menu-city"></div>
      <h3 class="refinement-title">Categories</h3>
      <div id="menu-category"></div>
      <h3 class="refinement-title">Amenities</h3>
      <div id="menu-amenities"></div>
      </div>
    </div>
    <div class="landing-layout__main">
      <div id="map"></div>
      <div class="entries">
        <div id="hits"></div>
        <div id="pagination"></div>
      </div>
    </div>
  </div>
</div>
<script>
  const alpineData = function() {
    return {
      active: 'grid',
      toggle(item) {
        this.active = item
        if(item === 'list') {
          const layoutContainer = document.querySelector('.landing-layout')
          layoutContainer.classList.remove('map-on')
          document.querySelector('.lodging-list').classList.add('-view-as-list')
        } else if (item === 'grid') {
          const layoutContainer = document.querySelector('.landing-layout')
          layoutContainer.classList.remove('map-on')
          document.querySelector('.lodging-list').classList.remove('-view-as-list')
        } else if (item === 'map') {
          const layoutContainer = document.querySelector('.landing-layout')
          layoutContainer.classList.add('map-on')
        }
      }
    }
  }
</script>
{{ end }}