{{ define "main" }}

{{ partial "featurePhoto" (dict "photo" .Params.photo) }}

<div class="g-wrap clearfix m-lodging">
  <div class="lodging-intro clearfix">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>
  <div class="landing-layout">
    <div class="landing-layout__sidebar">
      <div class="sticky">
        <div id="clear"></div>
      <h3 class="refinement-title">Views</h3>
      <ul class="layout-togglers reset-list">
        <li id="view-toggle-grid" onclick="showGrid()" class="layout-toggler active grid-view"><i class="fas fa-th-large"></i> Grid View</li>
        <li id="view-toggle-list" onclick="showList()" class="layout-toggler list-view"><i class="fas fa-bars"></i> List View</li>
        <li id="view-toggle-map" onclick="showMap()" class="layout-toggler map-view"><i class="fas fa-map-marker-alt"></i> Map View</li>
      </ul>
      <h3 class="refinement-title">Towns</h3>
      <div id="menu-city"></div>
      <h3 class="refinement-title">Categories</h3>
      <div id="menu-category"></div>
      <h3 class="refinement-title">Amenities</h3>
      <div id="menu-amenities"></div>
      </div>
    </div>
    <div class="landing-layout__main">
      <div id="map"></div>
      <div class="entries">
        <div id="hits"></div>
        <div id="pagination"></div>
      </div>
    </div>
  </div>
</div>
<script>
  function showList() {
    const layoutContainer = document.querySelector('.landing-layout')
    layoutContainer.classList.remove('map-on')
    document.querySelector('.lodging-list').classList.add('-view-as-list')
  }
  function showGrid() {
    const layoutContainer = document.querySelector('.landing-layout')
    layoutContainer.classList.remove('map-on')
    document.querySelector('.lodging-list').classList.remove('-view-as-list')
  }
  function showMap() {
    const layoutContainer = document.querySelector('.landing-layout')
    layoutContainer.classList.add('map-on')
  }
</script>
{{ end }}