<div class="m-lodging-item">
    <div class="photo">
        <img src="{{ .Params.photo_name }}" alt="{{ .Params.photo_alt }}">
    </div>

    <div class="content">
        {{ $propertyCategory := "func/GetLodgingCategory.html" .Params.property_category }}
        {{ with $propertyCategory }}
            <div class="category">
                {{ $propertyCategory }}
            </div>
        {{ end }}

        <div class="location">
            <h2>{{ .Params.property_name }}</h2>
            <p class="address">
                {{ .Params.address.street1 }}<br>
                {{ .Params.address.street2 }}<br>
                {{ .Params.address.city }}, {{ .Params.address.state }} {{ .Params.address.zip }}<br>
                {{ .Params.phone_local }} | 
                {{ .Params.phone_toll_free }}
            </p>
        </div>

        <div class="description">
            <strong> 
            {{ partial "lodging/units.html" .Params.units }}
            {{ $cost := partial "func/GetLodgingCost.html" .Params.cost }}
            {{ with $cost }}
                &bull;
                {{ . }}
            {{ end }}:
            </strong>
            {{ .Params.property_description }}
        </div>

        <div class="amenities">
            <div class="amenity-list clearfix">
                <ul>
                {{ range .Params.categoryTest }}
                    {{ $amenity := partial "func/GetLodgingAmenity.html" . }}
                    {{ with $amenity }}
                        <li class="{{ . }}"></li>
                    {{ end }}
                {{ end }}
                </ul>
            </div>
        </div>

        <div class="links clearfix">
            <span class="map"><a href="#" target="_blank"><span class="icon"><i class="fas fa-map-marker-alt"></i></span> Map</a></span>
            <span class="website"><a href="{{ .Params.website }}" target="_blank"><span class="icon"><i class="fas fa-globe"></i></span> Website</a></span>
        </div>
    </div>

</div>
