.carousel-shell{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.carousel-shell .overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
}

.carousel-shell .overlay img{
    width: 100vw;
    max-height: 170px;
}

.carousel-video{
    z-index: 4;
}

.main-carousel::before{
    content: " ";
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cell-link::before{
    content: " ";
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
}