{{ $s := newScratch }}
{{ $s.Set "data" dict }}

{{ with .Params.seo }}
  {{ $s.SetInMap "data" "seo" (partial "transformers/seo" .) }}
{{ end }}

{{ $s.SetInMap "data" "title" .Title }}
{{ $s.SetInMap "data" "_id" (partial "func/GetID" $) }}

{{ $s.SetInMap "data" "slug" (partial "transformers/slug" .) }}

{{ with .Params.aliases }}
  {{ $aliases := slice }}
  {{ range . }}
    {{ $clean := strings.TrimSuffix "/" . }}
    {{ $aliases = $aliases | append (print $clean "/") }}
  {{ end }}
  {{ $s.SetInMap "data" "aliases" $aliases }}
{{ end }}

{{ return $s.Get "data" }}