{{ $s := newScratch }}
{{ $s.Set "data" (partial "transformers/documents/base" .) }}

{{ $s.SetInMap "data" "_type" "event" }}

{{ with .Params.startdate }}
  {{ $s.SetInMap "data" "timeStart" . }}
{{ end }}

{{ with .Params.enddate }}
  {{ $s.SetInMap "data" "timeEnd" . }}
{{ end }}

{{ with .Params.photo }}
  {{ with partial "transformers/image" . }}
    {{ $s.SetInMap "data" "heroes" (slice (dict "_type" "hero.image" "image" .)) }}
  {{ end }}
{{ end }}

{{ with .Params.largeboxphoto }}
  {{ with partial "transformers/image" . }}
    {{ $s.SetInMap "data" "image" . }}
  {{ end }}
{{ end }}


{{ with .Content }}
  {{ $s.SetInMap "data" "bodyHTML" (partial "transformers/body" .) }}
{{ end }}


{{ $address := dict }}
{{ with .Params.address }}
  {{ $address = partial "transformers/address" . }}
{{ end }}

{{ with .Params.phone_toll_free }}
  {{ $address = merge $address (dict "phoneFree" .) }}
{{ end }}

{{ with .Params.phone_local }}
  {{ $address = merge $address (dict "phone" .) }}
{{ end }}

{{ with .Params.website }}
  {{ $address = merge $address (dict "url" .) }}
{{ end }}

{{ with .Params.coordinates }}
  {{ $address = merge $address (dict "coordinates" (partial "transformers/coordinates" .)) }}
{{ end }}

{{ $s.SetInMap "data" "address" $address }}

{{ with .Params.images }}
  {{ with index . 0 }}
    {{ $s.SetInMap "data" "imageMain" (partial "transformers/image" .) }}
  {{ end }}
{{ end }}

{{ return $s.Get "data" }}