{{ $s := newScratch }}
{{ $s.Set "data" dict }}
{{ $s.SetInMap "data" "_id" "home" }}
{{ $s.SetInMap "data" "_type" "home" }}
{{ $s.SetInMap "data" "title" "Home" }}
{{ with .Params.seo }}
  {{ $s.SetInMap "data" "seo" (partial "transformers/seo" .) }}
{{ end }}

{{ with .Params.aliases }}
  {{ $aliases := slice }}
  {{ range . }}
    {{ $clean := strings.TrimSuffix "/" . }}
    {{ $aliases = $aliases | append (print $clean "/") }}
  {{ end }}
  {{ $s.SetInMap "data" "aliases" $aliases }}
{{ end }}

{{ $blocks := slice }}
{{ with .Params.masonry1 }}
  {{ $blocks = $blocks | append (partial "transformers/blocks/cards" (dict
  "block" (dict
    "boxes" (slice
    $.Params.masonry1
    $.Params.masonry2
    $.Params.masonry3
    $.Params.masonry4
    $.Params.masonry5
    $.Params.masonry6
    $.Params.masonry7)
  )))}}
{{ end }}
{{ with $blocks }}
  {{ $s.SetInMap "data" "blocks" . }}
{{ end }}

{{ with .Params.slideshow }}
  {{ $s.SetInMap "data" "heroes" (slice (partial "transformers/heroes/slideshow" .)) }}
{{ end }}

{{ with .Content }}
  {{ $s.SetInMap "data" "bodyHTML" ($.Page.RenderString .) }}
{{ end }}

{{ $s.SetInMap "data" "blocks" $blocks }}

{{ return $s.Get "data" }}