{{ $s := newScratch }}
{{ $s.Set "data" (partial "transformers/documents/base.html" .) }}

{{ $s.SetInMap "data" "_type" "tripIdea" }}

{{ with .Params.description }}
  {{ $s.SetInMap "data" "descriptionHTML" ($.Page.RenderString .) }}
{{ end }}

{{ with .Date }}
  {{ $s.SetInMap "data" "publishedAt" . }}
{{ end }}

{{ with .Params.image }}
  {{ with partial "transformers/image" . }}
    {{ $s.SetInMap "data" "image" . }}
  {{ end }}
{{ end }}

{{ with .Params.photo }}
  {{ with partial "transformers/image" . }}
    {{ $s.SetInMap "data" "heroes" (slice (dict "_type" "hero.image" "image" .)) }}
  {{ end }}
{{ end }}

{{ range $taxonomy := slice "durations" "towns" }}
  {{ with $.GetTerms . }}
    {{ $categories := slice }}
    {{ range . }}
      {{ $slug := partial "func/GetSlug" .Page }}
      {{ $categories = $categories | append (dict
        "_type" "reference"
        "_ref" (partial "func/GetTermID" (dict "taxonomy" $taxonomy "term" $slug))
      ) }}
    {{ end }}
    {{ $s.SetInMap "data" $taxonomy $categories }}
  {{ end }}
{{ end }}



{{ $source := dict }}
{{ with .Params.link_to_original }}
  {{ $source = merge $source (dict "href" .) }}
{{ end }}
{{ with .Params.source }}
  {{ $source = merge $source (dict "source_name" .) }}
{{ end }}
{{ with $source }}
  {{ $s.SetInMap "data" "source" . }}
{{ end }}

{{ with .Content }}
  {{ $s.SetInMap "data" "bodyHTML" (partial "transformers/body" .) }}
{{ end }}


{{/* We'll deal with taxonomies later */}}
{{ with .Params.topics }}
  {{ $topic := dict
    "_type" "reference"
    "_ref" (printf "post_topic-%s" (md5 (lower .)))
  }}
  {{ $s.SetInMap "data" "post_topic" $topic }}
{{ end }}

{{ with .Params.aliases }}
  {{ $aliases := slice }}
  {{ range . }}
    {{ $clean := strings.TrimSuffix "/" . }}
    {{ $aliases = $aliases | append (print $clean "/") }}
  {{ end }}
  {{ $s.SetInMap "data" "aliases" $aliases }}
{{ end }}

{{ return $s.Get "data" }}
