{{- $json := "" -}}
{{- $float := .Get "float" -}}
{{- $size := .Get "size" -}}
{{- $alt := .Get "alt" -}}
{{- $src := .Get "src" -}}
{{- $s := newScratch -}}
{{- $s.Set "data" (dict "_type" "image") -}}

{{- with $float -}}
{{- $s.SetInMap "data" "display" (print "float-" .) -}}
{{- end -}}
{{- with $size -}}
{{- if ne . "undefined" -}}
{{- $s.SetInMap "data" "size" (int .) -}}
{{- end -}}
{{- end -}}
{{- with $alt -}}
{{- if ne . "undefined" -}}
    {{- $s.SetInMap "data" "alt" . -}}
{{- end -}}

{{- end -}}
{{- with $src -}}
    {{- $json = merge $json (partial "transformers/image" . ) ($s.Get "data") -}}
{{- end -}}
{{- with $json -}}
<div id="float-image">{{- jsonify . -}}</div>
{{- end -}}
