<div id="hd">
	<div class="g-wrap">
		<div class="m-logo">
			<a href="/">Oregon's Adventure Coast - Coos Bay, North Bend, Charleston</a>
		</div>
	</div>

	<div class="m-util">
		
		<div class="inner">
			<div class="inner-bg clearfix">
			<div class="fade"></div>
				<div class="m-social social">
					<ul>
						<li><a href="https://www.facebook.com/OregonsAdventureCoast" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://twitter.com/travelcoosbay" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/travelcoosbay/" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="http://pinterest.com/travelcoosbay" target="_blank"><i class="fab fa-pinterest"></i></a></li>
						<li><a href="http://www.youtube.com/user/CoosBayOregon" target="_blank"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			
				<ul class="util-nav">
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
				<div class="fade-right"></div>
			</div>
		</div>
	</div>

	<nav class="m-nav">
		<div class="mobile-menu clearfix">
			<!-- <span class="search"><i class="fas fa-search"></i></span> -->
			<span class="menu-toggle"><span class="menu-link g-menu-x"><i class="bar bar-top"></i><i class="bar bar-mid"></i><i class="bar bar-btm"></i></span> <span class="menu-text">MENU</span></span>
		</div>
		<div class="inner clearfix" id="main-nav">
			<div class="mobile-search-form">
				<form action="/search/" method="GET">
					<input type="text" class="search" placeholder="SEARCH SITE" name="search">
					<span class="submit"></span>
				</form>
			</div>
			<ul>
				<li><a href="/adventures/">Adventures</a>
					<i class="subnav-arrow"></i>
					<div class="subnav"><div class="subnav-shadow"><div class="subnav-inner clearfix">
						<h2 class="title">COOS BAY, NORTH BEND &amp; CHARLESTON ADVENTURES</h2>
						<ul class="col-left">
							<li><a href="/hiking-walking">Hiking &amp; Walking</a></li>
							<li><a href="/atv-motorsports">ATV'ing &amp; Motorsports</a></li>
							<li><a href="/undeveloped-beaches">Undeveloped Beaches</a></li>
							<li><a href="/shopping">Shopping</a></li>
							<li><a href="/birding-and-wildlife">Birding &amp; Wildlife</a></li>
							<li><a href="/lighthouses">Lighthouses</a></li>
							<li><a href="/art-history-culture">Art, History &amp; Culture</a></li>

						</ul>
						<ul class="col-mid">
							<li><a href="/state-parks-and-national-lands">State Parks &amp; National Lands</a></li>
							<li><a href="/storm-watching">Storm Watching</a></li>
							<li><a href="/fishing">Fishing</a></li>
							<li><a href="/gaming">Gaming</a></li>
							<li><a href="/cycling">Cycling</a></li>							
							<li><a href="/ocean-life-and-tidepooling">Ocean Life &amp; Tidepooling</a></li>
							<li><a href="/theatres">Theatres</a></li>
						</ul>
						<ul class="col-right">
							<li><a href="/crabbing-clamming">Crabbing &amp; Clamming</a></li>
							<li><a href="/scenic-drives">Scenic Drives</a></li>
							<li><a href="/untamed-dunes">Untamed Dunes</a></li>
							<li><a href="/entertainment-and-nightlife">Entertainment &amp; Nightlife</a></li>							
							<li><a href="/golfing">Golfing</a></li>
							<li><a href="/water-recreation">Water Recreation</a></li>
						</ul>
					</div></div></div>
				</li>
				<li><a href="/lodging/">Lodging</a></li>
				<li><a href="/dining/">Dining</a></li>
				<li><a href="/events/">Events</a></li>
				<li><a href="/calendar/">Calendar</a></li>
				<li><a href="/tripideas/">Trip Ideas</a></li>
				<li><a href="/our-area/">Our Area</a></li>
				<li class="search-nav-item"><a href="/"><i class="fas fa-search"></i></a>
					<i class="subnav-arrow"></i>
					<div class="subnav -small"><div class="subnav-shadow"><div class="subnav-inner clearfix">
						<div class="search-form">
							<form action="/search/" method="GET">
								<input type="text" class="search" placeholder="Search" name="search">
								<i class="fas fa-search search-btn"></i>
							</form>
						</div>
					</div></div></div>
				</li>
			</ul>

			<ul class="sections">
				<li class="equipment"><a href="/equipment-rent-and-buy/">Equipment Rent &amp; Buy</a></li>
				<li class="tour"><a href="/tour-guides-and-charters/">Tour Guide &amp; Charters</a></li>
				<li class="traveler"><a href="/travelers-info/">Traveler's Info</a></li>
				<li class="meetings"><a href="/meeting-planners/">Meetings, Groups &amp; Conventions</a></li>
				<li class="press"><a href="/press-media-industry/">Press, Media &amp; Industry</a></li>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/blog/">Blog</a></li>
			</ul>

			<div class="mobile-social">
				<h5>Be Sociable</h5>
				<ul>
					<li><a href="https://www.facebook.com/OregonsAdventureCoast" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="https://twitter.com/travelcoosbay" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a href="https://www.instagram.com/travelcoosbay/" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="http://pinterest.com/travelcoosbay" target="_blank"><i class="fab fa-pinterest"></i></a></li>
					<li><a href="http://www.youtube.com/user/CoosBayOregon" target="_blank"><i class="fab fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
