<head>

	<link href="https://fonts.googleapis.com/css?family=Calligraffitti|Fjalla+One|Roboto:100,300,400,500" rel="stylesheet">
	{{/*  <link rel="stylesheet" href="/css/main.css" />  */}}
	{{ partial "_head/assets.html" . }}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ .Params.seo.description }}">
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/favicon-128x128.png" sizes="128x128">
	<meta name="application-name" content="OR Adventure Coast">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="mstile-144x144.png">
	<meta name="msapplication-square70x70logo" content="mstile-70x70.png">
	<meta name="msapplication-square150x150logo" content="mstile-150x150.png">
	<meta name="msapplication-wide310x150logo" content="mstile-310x150.png">
	<meta name="msapplication-square310x310logo" content="mstile-310x310.png">

	{{ if templates.Exists "partials/tnd-seo/tags.html" }}
		{{ partial "tnd-seo/tags.html" . }}
	{{ end }}

	{{ with .Params.forestry_instant_preview_id }}
	<meta name="forestry:prevID" value="{{ . }}">
	{{ end }}

	{{ if eq .Layout "gallery" }}
	<link rel="stylesheet" href="/vendors/lg/css/lightgallery.min.css">
	{{ end }}

	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/brands.js" integrity="sha384-G/XjSSGjG98ANkPn82CYar6ZFqo7iCeZwVZIbNWhAmvCF2l+9b5S21K4udM7TGNu" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	{{ partial "googletag" (dict "where" "top") }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{ partial "fbpixel" }}
	{{ if eq (getenv "HUGO_ENV") "production" }}
	<meta name="facebook-domain-verification" content="d60r78hv13z9t4u6ynr4pq0bbt5gbz" />
	{{ end }}
</head>
