{{ $refinements := slice
  (dict  
    "id" "menu-city"
    "label" "Towns"
  )
  (dict  
    "id" "menu-category"
    "label" "Categories"
  )
  (dict  
    "id" "menu-amenities"
    "label" "Amenities"
  )
}}
<div x-data="alpineData()" class="landing-layout">
  <div class="sm:hidden">
    <div class="landing-button landing-button--red my-4" @click="displayFilters = true">{{ partial "svg/filter-icon.svg" . }}Filters</div>
  </div>

  <div class="landing-layout__sidebar filters" :class="displayFilters ? 'filters--active' : ''">
    <div class="sticky">

      <div class="filters__actions">
        <div id="clear" class="my-4"></div>
        <div class="sm:hidden">
          <div class="landing-button" @click="displayFilters = false">{{ partial "svg/circle-check-solid.svg" . }}Apply Filters</div>
        </div>
      </div>
      
      <h3 class="refinement-title">Views</h3>
      <ul class="layout-togglers reset-list">
        {{ range slice
          (dict 
            "id" "grid"
            "label" "Grid View"
            "icon" "grid-icon"
          )
          (dict 
            "id" "list"
            "label" "List View"
            "icon" "list-view-icon"
          )
          (dict 
            "id" "map"
            "label" "Map View"
            "icon" "map-view-icon"
          )
        }}
          <li id="view-toggle-{{ .id }}" @click="toggle('{{ .id }}')" class="layout-toggler" :class="active == '{{ .id }}' ? 'active' : ''">
            <span class="icon">{{ partial (printf "svg/%s.svg" .icon) .icon }}</span> <span class="layout-toggler__label">{{ .label }}</span> <span x-show="active == '{{ .id }}'" class="icon">{{ partial "svg/active-view-arrow-icon.svg" "arrow" }}</span>
          </li>
        {{ end }}
      </ul>
      {{ range $.refinements }}
        <h3 class="refinement-title">{{ .label }}</h3>
        <div id="{{ .id }}"></div>
      {{ end }}
      <div class="mt-4 sm:hidden">
        <div class="landing-button landing-button--red" @click="displayFilters = false">{{ partial "svg/circle-check-solid.svg" . }}Apply Filters</div>
      </div>
    </div>
  </div>
  <div class="landing-layout__main">
    <div id="map"></div>
    <div class="entries">
      <div id="hits"></div>
      <div id="pagination"></div>
    </div>
  </div>
</div>
<script>
  const alpineData = function() {
    return {
      active: 'grid',
      toggle(item) {
        this.active = item
        if(item === 'list') {
          const layoutContainer = document.querySelector('.landing-layout')
          layoutContainer.classList.remove('map-on')
          document.querySelector('.lodging-list').classList.add('-view-as-list')
        } else if (item === 'grid') {
          const layoutContainer = document.querySelector('.landing-layout')
          layoutContainer.classList.remove('map-on')
          document.querySelector('.lodging-list').classList.remove('-view-as-list')
        } else if (item === 'map') {
          const layoutContainer = document.querySelector('.landing-layout')
          layoutContainer.classList.add('map-on')
        }
      }
    }
  }
</script>