{{ $resource := resources.Get "js/accordions.js" | resources.Minify }}
<script src="{{ $resource.Permalink }}"></script>
{{ if eq "entries" . }}
{{ $style := resources.Get "js/initMap.js" | resources.Minify }}
<script src="{{ $style.Permalink }}"></script>
{{ end }}

{{ if eq "entries" . }}
{{ $mapKey := "" }}
{{ with getenv "GOOGLE_MAP_API" }}
  {{ $mapKey = . }}
{{ else }}
  {{ with site.Data.env.GOOGLE_MAP_API }}
    {{ $mapKey = . }}
  {{ end }}
{{ end }}
<script src="https://maps.googleapis.com/maps/api/js?=js?v=quarterly&key={{ $mapKey }}"
type="text/javascript"></script>
{{ end }}