{{ if or (eq . "dining") (eq . "lodging") }}
{{ $style := resources.Get "js/initMap.js" | resources.Minify }}
<script src="{{ $style.Permalink }}"></script>
{{ end }}
{{ with partialCached "func/GetAssetSRC" . . }}
  <script 
    type="text/javascript" src="{{ .js }}"
    defer
    crossorigin="anonymous"
    {{ with .jsIntegrity }}
    integrity="{{ . }}"
    {{ end }}
  ></script>
{{ else }}
  <script type="text/javascript" src="{{ . }}" ></script>
{{ end }}
{{ if or (eq . "dining") (eq . "lodging") }}
{{ $mapKey := "" }}
{{ with getenv "GOOGLE_MAP_API" }}
  {{ $mapKey = . }}
{{ else }}
  {{ with site.Data.env.GOOGLE_MAP_API }}
    {{ $mapKey = . }}
  {{ end }}
{{ end }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ $mapKey }}&callback=initMap"
type="text/javascript"></script>
{{ end }}