<div class="m-share">
    <span class="share-label">Share</span>
    <ul class="share-list clearfix">
        <li class="facebook"><a target="_blank" href="http://www.facebook.com/sharer.php?u={{ .url }}"><i class="fab fa-facebook-f"></i></a></li>
        <li class="twitter"><a target="_blank" href="https://twitter.com/share?url={{ .url }}&amp;text={{ .title }}"><i class="fab fa-twitter"></i></a></li>
        <li class="pinterest"><a target="_blank" href="https://www.pinterest.com/pin/create/button/?url={{ .url }}"><i class="fab fa-pinterest-p"></i></a></li>
    </ul>
</div>
