<div class="slide">
  <video width="100%" height="100%" controls="" autoplay="true">
    <!-- MP4 must be first for iPad! you must use `</source>` to avoid a closure bug in Firefox 3.0 / Camino 2.0! -->
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4"><!-- Safari / iPhone video    -->
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg"><!-- Firefox native OGG video -->
    <!-- IE only QuickTime embed: IE6 is ignored as it does not support `<object>` in `<object>` so we skip QuickTime
        and go straight to Flash further down. the line break after the `classid` is required due to a bug in IE -->
    <!--[if gt IE 6]>
    <object width="640" height="375" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"><!
    [endif]-->
    <!-- non-IE QuickTime embed (hidden from IE): the self-closing comment tag allows non-IE browsers to
        see the HTML whilst being compatible with serving as XML -->
    <!--[if !IE]><!-->
    <object width="640" height="375" type="video/quicktime" data="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4">
    <!--<![endif]-->
    <param name="src" value="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4">
    <param name="showlogo" value="false">
    <param name="autoplay" value="true">
    <!-- fallback to Flash -->
    <object width="640" height="384" type="application/x-shockwave-flash" data="player.swf?autostart=true&amp;image=poster.jpg&amp;file=http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4">
        <!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
        <param name="movie" value="player.swf?image=poster.jpg&amp;file=http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4">
        <!-- fallback image -->
        <img src="poster.jpg" width="640" height="360" alt="Big Buck Bunny" title="No video playback capabilities, please download the video below">
    </object><!--[if gt IE 6]><!-->
    </object><!--<![endif]-->
  </video>
  <div class="title">Video HTML</div>
</div>
<div class="slide">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zlJDTxahav0?controls=0" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
  <div class="title">Video Youtube (iframe)</div>
</div>
<div class="slide">
    <iframe src="https://player.vimeo.com/video/371261575" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen"></iframe>
    <p><a href="https://vimeo.com/371261575">My Father&#039;s Room</a> from <a href="https://vimeo.com/user6604399">Nari</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    <div class="title">Video Vimeo (iframe)</div>
</div>