{{/*
  GetLodgingCategory
  This function returns the label corresponding to the passed category string.
  False is returned if the passed string is invalid.

  @author @mountainbug95

  @context string (.)

  @example - Go Template
    {{ partial "func/GetLodgingCategory" . }}
*/}}
{{ $return := false }}
{{ $costString := . }}
{{ with $costString }}
    {{ if eq (substr . 0 1) "1" }}
        {{ $return = "Category 1" }}
    {{ end }}
    {{ if eq (substr . 0 1) "2" }}
        {{ $return = "Category 2" }}
    {{ end }}
    {{ if eq (substr . 0 1) "3" }}
        {{ $return = "Category 3" }}
    {{ end }}
{{ end }}
{{ return $return }}