{{/*
  GetLodgingAmenity
  This function returns the item name corresponding to the passed amenity string.
  False is returned if the passed string is invalid.

  @author @regisphilibert

  @context String (.)

  @access private

  @returns Map
    Int (.number)
    String (.id)
    String (.label)

  @uses
     - partial

  @example - Go Template
    {{ with partialCached "  GetLodgingAmenity
  This function returns the class name corresponding to the passed amenity string.
  False is returned if the passed string is invalid." context context }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $return := false }}
{{ $amenityString := $ }}
{{ if reflect.IsMap $ }}
  {{ $amenityString = "" }}
  {{ with .amenitySelect }}
    {{ $amenityString = string . }}
  {{ end }}
{{ end }}

{{ range partialCached "func/GetLodgingAmenities" "GetLodgingAmenities" }}
  {{ if  in $amenityString .number }}
    {{ $return = .id }}
  {{ end }}
{{ end }}

{{ return $return }}