{{ return slice
  (dict
    "number" 1
    "id" "restaurant"
    "label" "Restaurant/Bar/Rm Service"
  )
  (dict
    "number" 2
    "id" "breakfast"
    "label" "Continental or Full Bkfst"
  )
  (dict
    "number" 3
    "id" "fitness"
    "label" "Fitness Center"
  )
  (dict
    "number" 4
    "id" "pool"
    "label" "Pool/Hot Tub"
  )
  (dict
    "number" 5
    "id" "pet"
    "label" "Pet Friendly"
  )
  (dict
    "number" 6
    "id" "wifi"
    "label" "WiFi Available"
  )
  (dict
    "number" 11
    "id" "ev_charging"
    "label" "EV Charging"
  )
  (dict
    "number" 7
    "id" "kitchens"
    "label" "Kitchens Available"
  )
  (dict
    "number" 8
    "id" "meeting"
    "label" "Meeting Facilities"
  )
  (dict
    "number" 9
    "id" "handicap"
    "label" "Handicap Accessible"
  )
  (dict
    "number" 10
    "id" "chamber"
    "label" "Chamber Member"
  )
}}