{{ return slice 
  (dict
    "label" "January"
    "num" 1
  )
  (dict
    "label" "February"
    "num" 2
  )
  (dict
    "label" "March"
    "num" 3
  )
  (dict
    "label" "April"
    "num" 4
  )
  (dict
    "label" "May"
    "num" 5
  )
  (dict
    "label" "June"
    "num" 6
  )
  (dict
    "label" "July"
    "num" 7
  )
  (dict
    "label" "August"
    "num" 8
  )
  (dict
    "label" "September"
    "num" 9
  )
  (dict
    "label" "October"
    "num" 10
  )
  (dict
    "label" "November"
    "num" 11
  )
  (dict
    "label" "December"
    "num" 12
  )
}}