{{ with $.Page.Params.accordion_sections }}

{{ range . }}
    <div x-data="{ accordionActive: false}" class="accordion-section">
        {{ with .title }}
            <h2 class="section-heading">{{ . }}</h2>
        {{ end }}

        {{ with .accordions }}
            {{ range $accordion := . }}
                {{ with .title }}
                    <div class="accordion">
                        <div class="heading" :class="accordionActive ? 'expanded' : ''" @click="accordionActive = !accordionActive "><span>{{ $accordion.title }}</span></div>
                        {{ with $accordion.content }}
                            <div class="accordion-content" x-show="accordionActive">
                                {{ . | markdownify }}
                            </div>
                        {{ end }}
                    </div>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}

{{ end }}