{{ if eq (.Get "float") "left" }}
    {{ .Scratch.Set "floatClass" "float-left" }}
{{ else if eq (.Get "float") "right" }}
    {{ .Scratch.Set "floatClass" "float-right" }}
{{ else }}
    {{ .Scratch.Set "floatClass" "" }}
{{ end }}

{{ if ne (.Get "size") "" }}
    {{ .Scratch.Set "sizeVal" (.Get "size") }}
{{ else }}
    {{ .Scratch.Set "sizeVal" "default" }}
{{ end }}
<div class="m-floatimage {{ .Scratch.Get "floatClass" }} size-{{ .Scratch.Get "sizeVal" }}">
    <img src="{{ .Get "src" | relURL }}" alt="{{ .Get "alt" }}">
</div>
