{{ $s := newScratch }}

{{ $s.Set "data" dict }}

{{ $s.SetInMap "data" "id" .id }}
{{ $s.SetInMap "data" "title" .name }}

{{ if and $.latitude $.longitude }}
  {{ $s.SetInMap "data" "_geo" (dict
    "lat" (float $.latitude)
    "lng" (float $.longitude)
  ) }}
{{ end }}

{{ range $key := slice
  "description"
}}
  {{ with index $ $key }}
    {{ $s.SetInMap "data" $key . }}
  {{ end }}
{{ end }}

{{ with $.media.photos }}
  {{ with index . 0 }}
    {{ with .image }}
      {{ $s.SetInMap "data" "image" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with .links }}
  {{ with where . "network_type" "==" "Website" }}
    {{ with index . 0 }}
      {{ $s.SetInMap "data" "website" .url }}
    {{ end }}
  {{ else }}
     {{ with index . 0 }}
      {{ $s.SetInMap "data" "website" .url }}
     {{ end }}
  {{ end }}
{{ end }}

{{ with .relations }}
  {{ with where . "type" "==" "Cities" }}
    {{ with index . 0 }}
      {{ $s.SetInMap "data" "city" .name }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $categories := slice }}
{{ with $.attributes }}
  {{ $phones := slice }}
  {{ range $object := . }}
    {{ with .schema }}
      {{ if eq .name "address1" }}
        {{ $s.SetInMap "data" "street" $object.value }}
      {{ else if eq .name "address2" }}
        {{ $s.SetInMap "data" "street_2" $object.value }}
      {{ else if eq .name "state" }}
        {{ $s.SetInMap "data" "state" $object.value }}
      {{ else if eq .name "zip_code" }}
        {{ $s.SetInMap "data" "zip" $object.value }}
      {{ else if eq .name "restaurants_category" }}
        {{ $categories = split $object.value "| " }}
      {{ else if eq .name "phone" "phone1" "phone2" }}
        {{ $phones = $phones | append $object.value }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ with $phones }}
    {{ $s.SetInMap "data" "phones" . }}
  {{ end }}
{{ end }}

{{ $s.SetInMap "data" "categories" $categories }}

{{ return $s.Get "data" }}