{{ $s := newScratch }}

{{ range $key := slice
  "address1"
  "state"
  "zip_code"
  "phone1"
  "phone2"
  "phone"
  "restaurants_category"
}}
  {{ with $.attributes }}
    {{ range $attr := . }}
      {{ with .schema }}
        {{ with .name }}
          {{ if eq . $key }}
            {{ $value := $attr.value }}
            {{ if eq $key "restaurants_category" }}
              {{ $value = split $value "| " }}
              {{ $s.SetInMap "data" "category" $value }}
            {{ else if eq $key "zip_code" }}
              {{ $s.SetInMap "data" "zipcode" $value }}
            {{ else }}
              {{ $s.SetInMap "data" $key $value }}
            {{ end }}

          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}

{{ range $key := slice 
  "name"
  "description"
  "media"
  "latitude"
  "longitude"
  "uuid"
}}
  {{ with index $ $key }}
    {{ $s.SetInMap "data" $key . }}
  {{ end }}
{{ end }}

{{ $s.SetInMap "data" "links" slice }}
{{ with .links }}
  {{ $s.SetInMap "data" "links" . }}
  {{ with where . "network_type" "==" "Website" }}
    {{ with index . 0 }}
      {{ $s.SetInMap "data" "website" .url }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with .relations }}
  {{ with where . "type" "==" "Cities" }}
    {{ with index . 0 }}
      {{ $s.SetInMap "data" "city" .name }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $s.Get "data" }}