{{ $s := newScratch }}
{{ $s.Set "data" dict }}
{{ $id := .RelPermalink | md5 }}
{{ with .File.UniqueID }}
  {{ $id = . }}
{{ end }}
{{ $s.SetInMap "data" "id" $id }}
{{ $s.SetInMap "data" "title" .Title }}
{{ with .Params.coordinates }}
  {{ $coord := dict }}
  {{ range $index, $value := . }}
    {{ with $value }}
      {{ $coord = merge $coord (dict $index (float .)) }}
    {{ end }}
  {{ end }}
  {{ $s.SetInMap "data" "_geo" $coord }}
{{ end }}
{{ $amenities := slice }}
{{ with .Params.amenityList }}
  {{ with apply . "partial" "func/GetLodgingAmenity" "."}}
    {{ $amenities = . }}
  {{ end }}
{{ end }}

{{ with $amenities }}
  {{ $s.SetInMap "data" "amenities" . }}
{{ end }}

{{ with .Params.property_category }}
  {{ $s.SetInMap "data" "category" (partialCached "func/StripForestryNumber" . .) }}
{{ end }}
{{ with .Params.units }}
  {{ $s.SetInMap "data" "units" . }}
{{ end }}
{{ with .Params.cost }}
  {{ $s.SetInMap "data" "cost" (partialCached "func/StripForestryNumber" . .) }}
{{ end }}
{{ $s.SetInMap "data" "description" .Params.property_description }}
{{ $s.SetInMap "data" "website" .Params.website }}
{{ with .Params.photo_name }}
  {{ $s.SetInMap "data" "image" . }}
{{ end }}

{{ with .Params.address }}
  {{ range $key, $value := .}}
    {{ with . }}
      {{ $s.SetInMap "data" $key . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $phones := slice }}
{{ range slice "phone_toll_free" "phone_local" }}
  {{ with index $.Params . }}
    {{ $phones = $phones | append . }}
  {{ end }}
{{ end }}
{{ with $phones }}
  {{ $s.SetInMap "data" "phones" . }}
{{ end }}

{{ return $s.Get "data" }}