{{ $s := newScratch }}
{{ $s.Set "item" dict }}
{{ $s.SetInMap "item" "title" .Title }}
{{ $s.SetInMap "item" "latitude" .Params.coordinates.lat }}
{{ $s.SetInMap "item" "longitude" .Params.coordinates.lng }}
{{ $s.SetInMap "item" "photo_name" .Params.photo_name }}
{{ $s.SetInMap "item" "photo_alt" .Params.photo_alt }}
{{ $s.SetInMap "item" "property_name" (default .Title .Params.property_name ) }}
{{ $s.SetInMap "item" "property_category" (substr .Params.property_category 0 1) }}
{{ $s.SetInMap "item" "street" .Params.address.street }}
{{ $s.SetInMap "item" "street2" .Params.address.street2 }}
{{ $s.SetInMap "item" "city" .Params.address.city }}
{{ $s.SetInMap "item" "state" .Params.address.state }}
{{ $s.SetInMap "item" "zip" .Params.address.zip }}
{{ $s.SetInMap "item" "phone_toll_free" .Params.phone_toll_free }}
{{ $s.SetInMap "item" "phone_local" .Params.phone_local }}
{{ $s.SetInMap "item" "units" .Params.units }}
{{ $s.SetInMap "item" "cost" (substr .Params.cost 0 1) }}
{{ $s.SetInMap "item" "property_description" .Params.property_description }}
{{ $s.SetInMap "item" "website" .Params.website }}

{{ with .Params.amenityList }}
  {{ $amenities := slice }}
  {{ range $amenityIndex, $amenity := . }}
    {{ $entry := "" }}
    {{ if eq (printf "%T" $amenity) "string" }}
        {{ $entry = index (split $amenity " - ") 0 }}
    {{ else }}
        {{ $entry = substr $amenity.amenitySelect 0 1 }}
    {{ end }}
    {{ $amenities = $amenities | append $entry }}
  {{ end }}
  {{ with $amenities }}
    {{ $s.SetInMap "item" "amenityList" . }}
  {{ end }}
{{ end }}

{{ return $s.Get "item" }}