{{ $s := newScratch }}
{{ $s.Set "data" dict }}
{{ $id := .RelPermalink | md5 }}
{{ with .File.UniqueID }}
  {{ $id = . }}
{{ end }}
{{ $s.SetInMap "data" "id" $id }}
{{ $s.SetInMap "data" "title" (.Params.property_name | default .Title) }}
{{ with .Params.property_description }}
  {{ $s.SetInMap "data" "description" . }}
{{ end }}
{{ with .Params.coordinates }}
  {{ $coord := dict }}
  {{ range $index, $value := . }}
    {{ with $value }}
      {{ $coord = merge $coord (dict $index (float .)) }}
    {{ end }}
  {{ end }}
  {{ $s.SetInMap "data" "_geo" $coord }}
{{ end }}
{{ with .Params.photo_name }}
  {{ $s.SetInMap "data" "image" . }}
{{ end }}
{{ with .Params.photo_alt }}
  {{ $s.SetInMap "data" "image_alt" . }}
{{ end }}

{{ with .Params.property_category }}
  {{ $s.SetInMap "data" "categories" . }}
{{ end }}

{{ with .Params.address }}
  {{ range $key, $value := .}}
    {{ with . }}
      {{ $s.SetInMap "data" $key . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $phones := slice }}
{{ with .Params.phone_toll_free }}
  {{ $phones = $phones | append . }}
{{ end }}
{{ with .Params.phone_local }}
  {{ $phones = $phones | append . }}
{{ end }}
{{ with $phones }}
  {{ $s.SetInMap "data" "phones" . }}
{{ end }}
{{ with .Params.website }}
  {{ $s.SetInMap "data" "website" . }}
{{ end }}

{{ return $s.Get "data" }}