{{ $s := newScratch }}
{{ $s.Set "item" dict }}
{{ $s.SetInMap "item" "title" .Title }}
{{ $s.SetInMap "item" "latitude" .Params.coordinates.lat }}
{{ $s.SetInMap "item" "longitude" .Params.coordinates.lng }}
{{ $s.SetInMap "item" "photo_name" .Params.photo_name }}
{{ $s.SetInMap "item" "photo_alt" .Params.photo_alt }}
{{ $s.SetInMap "item" "property_name" (default .Title .Params.property_name ) }}
{{ $categories := slice }}
{{ with .Params.property_category }}
  {{ range . }}
    {{ with partialCached "func/GetStoreCategoryInt" . . }}
      {{ $categories = $categories | append . }}
    {{ end }}
  {{ end }}
  {{ $s.SetInMap "item" "property_category" $categories }}
{{ end }}

{{ $s.SetInMap "item" "street" .Params.address.street }}
{{ $s.SetInMap "item" "street2" .Params.address.street2 }}
{{ $s.SetInMap "item" "city" .Params.address.city }}
{{ with .Params.address.state }}
  {{ $s.SetInMap "item" "state" . }}
{{ end }}
{{ $s.SetInMap "item" "zip" .Params.address.zip }}
{{ $s.SetInMap "item" "phone_toll_free" .Params.phone_toll_free }}
{{ $s.SetInMap "item" "phone_local" .Params.phone_local }}
{{ $s.SetInMap "item" "property_description" .Params.property_description }}
{{ $s.SetInMap "item" "website" .Params.website }}

{{ return $s.Get "item" }}