<div class="card card--pinned">
  <div class="card__photo"
    {{ with .Params.image }}
      style="background-image:url({{ . }})"
    {{ end }}
  >
  {{ with .Params.hover_image }}
    <div class="card__photo__hover" style="background-image:url({{ . }})">
    </div>
  {{ end }}
  </div>
  <div class="card__body">
    <div class="card__title">
      {{ .Title }}
    </div>
    {{ $description := "" }}
    {{ with .Params.description }}
      {{ $description = . }}
    {{ else }}
      {{ with .Params.product.description }}
        {{ $description = . }}
      {{ end }}
    {{ end }}
    {{ with $description }}
      <div class="card__copy">
        {{ . | markdownify }}
      </div>
    {{ end }}
    <div class="card__pinned-bottom">
      {{ with .Params.product.price }}
        <div class="card__price">${{ lang.NumFmt 2 . " ." }}</div>
      {{ end }}
      {{ .Render "buy" }}
    </div>

  </div>
</div>