{{ define "main" }}

{{ partial "featurePhoto" (dict "photo" .Params.photo) }}

<div class="g-wrap clearfix">
    <div class="m-standard-nav -two-wide">
        <div class="nav-group">
            <h3>Enewsletter</h3>
            <div class="nav-group-display">
                <p>Get the latest info!</p>
                <form action="https://oregonsadventurecoast.us17.list-manage.com/subscribe/post?u=23d20aa9dd6b1cc84d8ba12c6&amp;id=2e9c9509c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate m-form -sidebar clearfix" target="_blank" novalidate>
                    
                    <input type="email" value="" name="EMAIL" class="text" id="mce-EMAIL" placeholder="Enter Email">
                    <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="btn">

                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_23d20aa9dd6b1cc84d8ba12c6_2e9c9509c9" tabindex="-1" value=""></div>
                </form>
            </div>
        </div>

        <div class="nav-group">
            <h3>Visitor Guide</h3>
            <div style="text-align: center" class="nav-group-display">   
                <a href="/img/Oregon-Coast-Visitor-Guide.pdf" target="_blank">Download Our<br>Visitor Guide (PDF)       
                <img class="hide-mobile" src="/img/SideBar-VisitorGuide.jpg" alt="Oregons Adventure Coast Official Visitor Guide"></a>
            </div>
        </div>
    </div>
    
    <div class="m-standard-content">
        <h1>{{ .Title }}</h1>
    
        <div class="introtext clearfix">
            {{ .Content }}
        </div>
    </div>
</div>

{{ end }}
