{{ define "main" }}

{{ partial "featurePhoto" (dict "photo" .Params.photo) }}

<div class="g-wrap clearfix">
    <div class="m-standard-nav">
        <h3>Our Area</h3>
    
        <ul>
            <li><a href="/our-area">Our Area</a></li>
            <li><a href="/our-area-coos-bay">Coos Bay</a></li>
            <li><a href="/our-area-north-bend">North Bend</a></li>
            <li><a href="/our-area-charleston">Charleston</a></li>
            <li><a href="/tribal-heritage-coquilles">Tribal Heritage: Coquilles</a></li>
            <li><a href="/steve-prefontaine-story">The Steve Prefontaine Story</a></li>
            <li><a href="/bay-area-chamber">Bay Area Chamber</a></li>
            <li><a href="/relocation-info-request">Relocation Info Request</a></li>
        </ul>
    </div>
    
    <div class="m-standard-content">
        <h1>{{ .Title }}</h1>
    
        <div class="introtext clearfix">
            {{ .Content }}
        </div>
    </div>
</div>

{{ end }}
